.board {
  border-radius: 25px;
  border: 1px solid #722EF2;
  padding: 20px; 
  width: 450px;
  height: 400px;
  margin: -200px 0 0 -225px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-holder {
  display: flex;
  justify-content: center;
}

.card {
  font-size: 36px;
}

.card-h {
  color: #DA6FF1;
}

.card-c {
  color: #5AA91C;
}

.card-s {
  color: #6A7472;
}

.card-d {
  color: #369CE1;
}

.sums-block {
  text-align: center;
  font-size: 20px;
}

.button-holder {
  display: flex;
  justify-content: center;
}

.button-holder button {
  background-color: #EADFFF;
  border: 1px solid #7B5A5A;
  padding: 10px;
  margin: 5px;
  width: 100px;
  border-radius: 3px;
  color: #581A65;
  font-size: 12px;
  font-family: Georgia;
}

.button-holder button:hover {
  background-color: #C7B4EB;
}

.button-holder button:active {
  background-color: #420659;
  color: #F0F0FF;
}
