.board {
  border-radius: 25px;
  border: 1px solid #722EF2;
  padding: 20px; 
  width: 450px;
  height: 400px;
  margin: -200px 0 0 -225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-holder {
  display: flex;
  justify-content: center;
}

.card {
  font-size: 36px;
}

.card-h {
  color: #DA6FF1;
}

.card-c {
  color: #5AA91C;
}

.card-s {
  color: #6A7472;
}

.card-d {
  color: #369CE1;
}

.card-block {
  display: flex;
  justify-content: center;
}

.sums-block {
  text-align: center;
  height: 40%;
  font-size: 14px;
  border: 1px solid;
  border-radius: 5px;
  padding: 1px;
  margin-right: 4px;
}

.color-good {
  color: #C5DAB8;
}

.color-bad {
  color: #D3392C;
}

.button-holder {
  display: flex;
  justify-content: center;
}

.button-holder button {
  background-color: #EADFFF;
  border: 1px solid #7B5A5A;
  padding: 10px;
  margin: 5px;
  width: 100px;
  border-radius: 3px;
  color: #581A65;
  font-size: 12px;
  font-family: Georgia;
}

.button-holder button:hover {
  background-color: #C7B4EB;
}

.button-holder button:active {
  background-color: #420659;
  color: #F0F0FF;
}

.player-block {
  margin-bottom: 20px;
}

.player-block .button-holder {
  margin-top: 10px;
}

.dealer-block {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dealer-message {
  border: 1px solid #DDD;
  border-radius: 7px;
  padding: 12px;
  font-family: Georgia;
  font-size: 14px;
  color: #6A6A6A;
  margin-bottom: 15px;
}
